{# {% form_theme form '@SyliusAdmin/Form/imagesTheme.html.twig'  %} #}
{% import '@SyliusUi/Macro/flags.html.twig' as flags %}
{# all the contents copied from SyliusAdminBundle/views/PaymentMethod/_form.html.twig #}
{# <div class="ui segment"> #}
    {# Template selection dropdown #}
    {# <select id="template-select" name="template">
        <option value="">Select Template</option>
        {% for template in templates %}
            <option value="{{ template.id }}">{{ template.name }}</option>
        {% endfor %}
    </select> #}
        {# {{ form_row(form.productDescriptionBlockContents) }} #}
        {# {{ dump(blocks) }} #}
        {% for block in blocks %}
            {% if block.templateBlockChildren is defined %}
                <div data-form-collection="item" data-form-collection-index="{{ loop.index0 }}" style="width: 100%; padding: 10px;"> 
                    <div data-form-collection="list" class="ui column stackable grid align-{{ block.alignment.value }}" style="flex-wrap: nowrap;">
                        {% for child in block.templateBlockChildren %}
                                {% if child.templateBlockChildren is defined %}
                                    {% include 'product/partials/_block_field.html.twig' with {'blocks': [child]} %}
                                {% else %}
                                    <div data-form-collection="item" data-form-collection-index="{{ loop.index0 }}" style="width: 100%; padding: 10px;"> 
                                        {{ form_widget(child, {'attr': {'id': 'container-' ~ loop.index0}}) }}
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div data-form-collection="item" data-form-collection-index="{{ loop.index0 }}" style="width: 100%; padding: 10px;"> 
                    {{ form_widget(block) }}
                </div>
            {% endif %}
            {% endfor %}
{# </div> #}
