{% form_theme form '@SyliusAdmin/Form/imagesTheme.html.twig' %}
{% import '@SyliusUi/Macro/flags.html.twig' as flags %}
{# all the contents copied from SyliusAdminBundle/views/PaymentMethod/_form.html.twig #}
<div class="ui segment">
	{{ form_row(form.products) }}
</div>
<div class="ui styled fluid accordion">
	{% for locale, translationForm in form.translations %}
		<div class="title{% if loop.first %} active{% endif %}">
			<i class="dropdown icon"></i>
			{{ flags.fromLocaleCode(locale) }}{{ locale|sylius_locale_name }}
		</div>
		<div class="content{% if loop.first %} active{% endif %}">

			{{ form_row(translationForm.title) }}
			{{ form_row(translationForm.description) }}
			<div class="ui upload box" id="{{ translationForm.vars.id }}">

				<div class="ui field element">
					{{ form_label(translationForm.image) }}
					<img class="ui small bordered image mb-3 {% if translationForm.image.vars.data.path|default(null) is null %}hidden{% endif %}" src="{% if translationForm.image.vars.data.path|default(null) is not null %}{{ translationForm.image.vars.data.path|default(null)|imagine_filter('sylius_medium') }}{% endif %}" alt="{{ translationForm.vars.data.title|default }}"/>
					{{ form_widget(translationForm.image) }}

				</div>
				<div class="ui element">
					{{- form_errors(translationForm.image) -}}
				</div>
			</div>

		</div>
	{% endfor %}
</div>
